# Titanic Survival

#### Grading:


- Code: 6.5 pts
- Comments: .5 pts
- Markdown Documentation: .5 pts

We are going to study the survival rate of passengers on titanic and what variables affected survival.

Load the dataset in `titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [1]:
from IPython.core.display import HTML
HTML(filename='../data/titanic.html')

In [2]:
import pandas as pd

# you would need xlrd - pip install xlrd
t_file = pd.ExcelFile('../data/titanic.xls')
t_df = t_file.parse("titanic", header=0)
t_df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

### Women and children first?

***1. Use the `groupby` method to calculate the proportion of passengers that survived by sex. (1 pt)***

##### Letus now calculate the number of males and females present on the ship first

In [3]:
survivedEldersMean=t_df.groupby('sex')['survived'].mean()
survivedEldersMean

sex
female    0.727468
male      0.190985
Name: survived, dtype: float64

##### One can multiply the mean decimal with 100 to get the average percentage as shown below

In [4]:
#Mean can be multiplied by 100 to get the actual percentage
survivedMalePercentage=survivedEldersMean[0]*100
survivedMalePercentage

72.74678111587983

In [5]:
survivedFemalePercentage=survivedEldersMean[1]*100
survivedFemalePercentage

19.098457888493474

### Hence total percentage of survived male is 19.09%

### Total percentage of survived Female is 72.74%

***2. Calculate the same proportion, but by class and sex. (2 pts)***

In [6]:
#sum of survived passengers elders
survivedEldersMeanByClass=t_df.groupby(['pclass','sex'])['survived'].sum()

survivedEldersMeanByClass

pclass  sex
1       female    139
        male       61
2       female     94
        male       25
3       female    106
        male       75
Name: survived, dtype: int64

###### let us find the total number of elder passengers which can be used to find the percentage of survivers by class

In [7]:
totalEldersbySex=t_df.groupby(['pclass','sex']).size()
totalEldersbySex
class1total=totalEldersbySex[1][0]+totalEldersbySex[1][1]
class2total=totalEldersbySex[2][0]+totalEldersbySex[2][1]
class3total=totalEldersbySex[3][0]+totalEldersbySex[3][1]

#### class 1 survivers by sex

In [8]:
class1FemaleSur=survivedEldersMeanByClass[1][0]/class1total*100
class1FemaleSur

43.034055727554176

In [9]:
class1maleSur=survivedEldersMeanByClass[1][1]/class1total*100
class1maleSur

18.885448916408667

#### class 2 survivers by sex

In [10]:
class2FemaleSur=survivedEldersMeanByClass[2][0]/class2total*100
class2FemaleSur

33.935018050541515

In [11]:
class1maleSur=survivedEldersMeanByClass[2][1]/class2total*100
class1maleSur

9.025270758122744

#### class 3 survivers by sex

In [12]:
class3FemaleSur=survivedEldersMeanByClass[3][0]/class3total*100
class3FemaleSur

14.950634696755994

In [13]:
class3maleSur=survivedEldersMeanByClass[3][1]/class3total*100
class3maleSur

10.578279266572638

***3. Create age categories: children (under 14 years), adolescents (14-20), adult (21-64), and senior(65+), and calculate survival proportions by age category, class and sex. (3.5 pts)***

#### Let us separate the data into categories first with respective to the ages which are provided above

In [14]:
t_df['agecat'] = pd.cut(t_df.age, [0, 14, 21, 65, 100], labels=['child', 'adolescent', 'adult', 'senior'])
t_df['agecat'].head()

0    adult
1    child
2    child
3    adult
4    adult
Name: agecat, dtype: category
Categories (4, object): ['child' < 'adolescent' < 'adult' < 'senior']

##### Let us find the mean of the survivals with respect to classes using above data and this can be used to find the percentage directly

In [15]:
survcategoryByAge=t_df.groupby(['agecat', 'pclass','sex'])['survived'].mean()
survcategoryByAge

agecat      pclass  sex
child       1       female    0.500000
                    male      1.000000
            2       female    1.000000
                    male      0.916667
            3       female    0.484848
                    male      0.325000
adolescent  1       female    1.000000
                    male      0.285714
            2       female    0.928571
                    male      0.090909
            3       female    0.500000
                    male      0.129412
adult       1       female    0.964602
                    male      0.335821
            2       female    0.864865
                    male      0.081967
            3       female    0.456790
                    male      0.157658
senior      1       female    1.000000
                    male      0.200000
            2       female         NaN
                    male      0.000000
            3       female         NaN
                    male      0.000000
Name: survived, dtype: float64

#### survival proportions of male child of all classess are below

In [16]:
# mean can be multiplied by 100 to get the actual percentage

class1childMale=survcategoryByAge['child'][1][1]*100
class2childMale=survcategoryByAge['child'][2][1]*100
class3childMale=survcategoryByAge['child'][3][1]*100

In [17]:
class1childMale

100.0

In [18]:
class2childMale

91.66666666666666

In [19]:
class3childMale

32.5

#### survival proportions of Female child of all classess are below

In [20]:
class1childFemale=survcategoryByAge['child'][1][0]*100
class2childFemale=survcategoryByAge['child'][2][0]*100
class3childFemale=survcategoryByAge['child'][3][0]*100

In [22]:
class1childFemale

50.0

In [23]:
class2childFemale

100.0

In [24]:
class3childFemale

48.484848484848484

In [25]:
class1adolescentMale=survcategoryByAge['adolescent'][1][1]*100
class2adolescentMale=survcategoryByAge['adolescent'][2][1]*100
class3adolescentMale=survcategoryByAge['adolescent'][3][1]*100

class1adolescentFemale=survcategoryByAge['adolescent'][1][0]*100
class2adolescentFemale=survcategoryByAge['adolescent'][2][0]*100
class3adolescentFemale=survcategoryByAge['adolescent'][3][0]*100

#### survival proportions of adolescentMale  of all classess are below

In [26]:
class1adolescentMale

28.57142857142857

In [27]:
class2adolescentMale

9.090909090909092

In [28]:
class3adolescentMale

12.941176470588237

#### survival proportions of adolescentFeMale  of all classess are below

In [29]:
class1adolescentFemale

100.0

In [30]:
class2adolescentFemale

92.85714285714286

In [31]:
class3adolescentFemale

50.0

In [32]:
class1adultMale=survcategoryByAge['adult'][1][1]*100
class2adultMale=survcategoryByAge['adult'][2][1]*100
class3adultMale=survcategoryByAge['adult'][3][1]*100

class1adultFemale=survcategoryByAge['adult'][1][0]*100
class2adultFemale=survcategoryByAge['adult'][2][0]*100
class3adultFemale=survcategoryByAge['adult'][3][0]*100

#### survival proportions of adultMaleMale  of all classess are below

In [33]:
class1adultMale

33.582089552238806

In [34]:
class2adultMale

8.19672131147541

In [35]:
class3adultMale

15.765765765765765

#### survival proportions of adultFeMaleMale  of all classess are below

In [36]:
class1adultFemale

96.46017699115043

In [37]:
class2adultFemale

86.48648648648648

In [38]:
class3adultFemale

45.67901234567901

In [39]:
class1seniorMale=survcategoryByAge['senior'][1][1]*100
class2seniorMale=survcategoryByAge['senior'][2][1]*100
class3seniorMale=survcategoryByAge['senior'][3][1]*100

class1seniorFemale=survcategoryByAge['senior'][1][0]*100
class2seniorFemale=survcategoryByAge['senior'][2][0]*100
class3seniorFemale=survcategoryByAge['senior'][3][0]*100

#### survival proportions of seniorMale  of all classess are below

In [40]:
class1seniorMale

20.0

In [41]:
class2seniorMale

0.0

In [42]:
class3seniorMale

0.0

#### survival proportions of seniorFeMale  of all classess are below

In [43]:
class1seniorFemale

100.0

In [44]:
class2seniorFemale

nan

In [45]:
class3seniorFemale

nan